[project]
	state = active
[access "refs/heads/*"]
	owner = group ticketsmaintainer
	create = group ticketsmaintainer
	push = group ticketsmaintainer
	pushMerge = group ticketsmaintainer
	label-Code-Review = -2..+2 group ticketsmaintainer
	label-Verified = -1..+1 group ticketsmaintainer
	rebase = group ticketsmaintainer
